@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model WebApplication5.Models.Product

<h2>Удаление продукта</h2>

<table>
    <tr>
        <td><b>Наименование</b></td>
        <td><b>Описание</b></td>
        <td><b>Цена</b></td>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Name)</td>
        <td>@Html.DisplayFor(model => model.Description)</td>
        <td>@Html.DisplayFor(model => model.Price)</td>
    </tr>
</table>

@using (Html.BeginForm())
{
    <input position="center" type="submit" value="Удалить" />
}

<br />
@using (Html.BeginForm("Cancel", "Home"))
{
    <input type="submit" name="Cancel" value="Отмена" />
}